<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46F2F6E11C76C07000758947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46F2F6F81C76C07000758947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46F2F7031C76C07000758947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
